<section data-ng-controller="BookmarksController" id="validate">
	<form name="form" class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Title:</label>
			<div class="controls">
				<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>

This is my test bro:
      <div class="well">
        <form name="form">

          <h3>address test</h3>
1


		<div class="control-group">
		        <label class="control-label" for="address">Address:</label>
<input name="address" value="http://" ng-model="address" id="address" placeholder="Http://" required ui-validate="{blacklist : 'newList($value)'}">
   <span ng-show='form.address.$error.blacklist'>Please begin your bookmarks with either: <b>"http://", "https://", or "ftp://"</b>.</span>
          <br>is form valid: {{form.$valid}}
          <br>email errors: {{form.address.$error | json}}

			<div class="controls">

</div></div>
		<div class="control-group">
			<label class="control-label" for="description">Description:</label>
			<div class="controls">
				<textarea data-ng-model="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
			</div>
</div>
<div class="control-group">

                        <label class="control-label" for="category">Category:</label>
			<div class="controls">
                                <textarea data-ng-model="category" id="category" placeholder="Category"></textarea></div>
</div></div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>

