<section data-ng-controller="BookmarksController" data-ng-init="find()">
	<ul class="bookmarks unstyled">
		<li data-ng-repeat="bookmark in bookmarks">
			<h2><a data-ng-hred="#!/bookmarks/{{bookmark._id}}">{{bookmark.title}}</a></h2>
		        <span>{{bookmark.created | date:'medium'}}</span> /
			<span>{{bookmark.user.name}}</span>
                        Category<h3>{{bookmark.category}}</h3>
			<div>{{bookmark.description}}</div>
		</li>
	</ul>
	<h1 data-ng-hide="!bookmarks || bookmarks.length">No bookmarks yet. <br> Why don't you <a href="/#!/bookmarks/create">Create One</a>?</h1>
</section>
